<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/mainPage">
        <div class="sidebar-brand-text mx-3">Movie us admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin/mainPage">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Notices -->
    <li class="nav-item">
        <a class="nav-link" href="/notice/noticeList">
            <i class="fas fa-fw fa-clipboard-list"></i>
            <span>Notices</span></a>
    </li>

    <!-- Nav Item - Users -->
    <li class="nav-item">
        <a class="nav-link" href="/user/userList">
            <i class="fas fa-fw fa-user"></i>
            <span>Users</span></a>
    </li>

    <!-- Nav Item - Reviews -->
    <li class="nav-item">
        <a class="nav-link" href="/review/reviewList">
            <i class="fas fa-fw fa-list"></i>
            <span>Reviews</span></a>
    </li>

    <!-- Nav Item - Chat -->
    <li class="nav-item">
        <a class="nav-link" href="https://desk.channel.io/#/channels/184336/user_chats" target="_blank">
            <i class="fas fa-fw fa-comment"></i>
            <span>Chat</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
</body>

</html>