<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>User Tables</title>

    <!-- Custom fonts for this template -->
    <link href="/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/bootstrap/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="~{sidebar}"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{topbar}"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">User</h1>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>userNum</th>
                                    <th>userEmail</th>
                                    <th>kakaoEmail</th>
                                    <th>userName</th>
                                    <th>userPhone</th>
                                    <th>createDt</th>
                                    <th>updateDt</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.userNum}">userNum</td>
                                    <td th:text="${user.userEmail}">userEmail</td>
                                    <td th:text="${user.kakaoEmail}">kakaoEmail</td>
                                    <td th:text="${user.userName}">userName</td>
                                    <td th:text="${user.userPhone}">userPhone</td>
                                    <td th:text="${#temporals.format(user.createDt, 'yyyy-MM-dd')}">createDt</td>
                                    <td th:text="${#temporals.format(user.updateDt, 'yyyy-MM-dd')}">updateDt</td>
                                    <td>
                                        <button type="button" class="btn btn-danger"
                                                th:data-userNum="${user.userNum}"
                                                th:data-userEmail="${user.userEmail}"
                                                th:data-kakaoEmail="${user.kakaoEmail}"
                                                th:data-userName="${user.userName}"
                                                onclick="openDeleteModal(this)">삭제</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 for Delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">User 삭제</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">삭제</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/bootstrap/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/bootstrap/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/bootstrap/js/demo/datatables-demo.js"></script>

<script>
    let deleteUserId = null;
    let deleteUserName = null;
    let deleteUserEmail = null;

    // Delete Modal을 열고 해당 noticeId 저장
    function openDeleteModal(button) {
        deleteUserId = button.getAttribute('data-userNum');
        deleteUserName = button.getAttribute('data-userName');
        const userEmail = button.getAttribute('data-userEmail');
        const kakaoEmail = button.getAttribute('data-kakaoEmail');

        // 이메일 우선 순위 설정
        deleteUserEmail = userEmail ? userEmail : kakaoEmail;

        // 모달 메시지 업데이트
        const modalMessage = document.getElementById('modalMessage');
        modalMessage.innerHTML = `(${deleteUserName}: ${deleteUserEmail}) 님을<br>정말 삭제하시겠습니까?`;

        $('#deleteModal').modal('show');
    }

        // 삭제 버튼 클릭 시 서버에 삭제 요청 전송
        document.getElementById('confirmDeleteButton').addEventListener('click', function() {
            if (!deleteUserId) return;

            fetch(`/user/${deleteUserId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    // 성공 시 페이지 새로 고침
                    window.location.reload();
                } else {
                    alert('Delete failed');
                }
            })
            .catch(error => console.error('Error:', error));
        });
</script>
</body>

</html>